
@font-face {
  font-family: 'IM Fell DW Pica';
  src: url('IMFellDWPicaSC-Regular.ttf');
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  font-family: "IM Fell DW Pica", serif;
}

span[lang='de'] {font-style: italic;}

header {margin: 2em 0;}
main {margin: 0 2em;}
img {width: 15.3rem;}

dt {margin-top: 1em;}
dd {
  display: block;
  margin: 0.25em 0.5em;

}



