
@font-face {
  font-family: 'IM Fell DW Pica';
  src: url('IM_Fell_DW_Pica/IMFellDWPica-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'IM Fell DW Pica';
  src: url('IM_Fell_DW_Pica/IMFellDWPica-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  font-family: "IM Fell DW Pica", serif;
  font-style: normal;
}

cite {font-style: italic;}

span[lang='de'] {font-style: italic;}

header {margin: 3em 0;}
main {
  margin: 0 2em 2em 2em;
  text-align: left;
}
img {width: 15.3rem;}

td {
  vertical-align: top;
  padding: 0.07em 0.2em;
}

