
@font-face {
  font-family: 'EB Garamond';
  src: url('EBGaramond-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


html {
  font-family: "EB Garamond", Georgia, serif;
}
body {
  margin: 15vh auto;
  width: 29rem;
}

h1 {
  font-weight: normal;
  font-size: 1.77rem;
  margin-block-end: 0;
}

header {
  text-align: center;
  margin: 2.5rem;
}

header > p {
  font-size: 1.27rem;
  margin: 0;
}

header > p.subtitle {
  margin: 0;
  font-weight: normal;
  font-style: italic;
  font-size: 1.27rem;
}

header > p.author {
  margin-block-start: 1.186rem;
}

main > p {
  margin: 0;
}

main {
  text-indent: 1rem;
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

hr {
  border: none;
  margin: 2em 0;
  overflow: hidden;
} hr::after {
  content: "..........................";
  letter-spacing: 0.8em;
  color: black;
  display: block;
  text-align: center;
}

.poem {
  text-indent: 0;
  font-family: inherit;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 1em;
  text-align: center;
  font-weight: normal;
  font-variant: small-caps;
  margin-top: 2.5em;
}

@media screen and (max-width: 35rem) {
  body {
    width: 90vw;
  }
}
